LM/Tema 3/Ejercicios/ejercicio1.dtd

<!ELEMENT biblioteca (libro, libro)+>
    <!ELEMENT libro(titulo, autor, foto_portada, editorial, edicion, ISBN, ubicacion)
        <!ATTLIST libro codigo ID #REQUIRED
    <!ELEMENT titulo (#PCDATA)>
    <!ELEMENT autor (#PCDATA)>
    <!ELEMENT foto_portada (#PCDATA)>
        <!ATTLIST foto imagen ENTITY #IMPLIED>
    <!ELEMENT editorial (#PCDATA)>
    <!ELEMENT edicion (#PCDATA)>
    <!ELEMENT ISBN (#PCDATA)>
    <!ELEMENT ubicacion (#PCDATA)>